table {
    border-collapse: collapse;
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

td {
    border: 1px solid black;
    height: 20px;
    min-width: 20px;
    text-align: center;
}