@import "./mixins.scss";
@font-face {
    font-family: ROBOTO;
    src: url(../assets/Roboto-Thin.ttf) format('ttf');
}

$primary-background: #fbfcfe;
$secondary-background: #f9f9f9;
$primary-purple: #c1187b;
$primary-transition: all 0.5s ease;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

img {
    display: block;
    cursor: pointer;
}

li {
    list-style: none;
    cursor: pointer;
}

button {
    background-color: $primary-purple;
    border: none;
    color: $primary-background;
    padding: 15px;
    min-width: 250px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: $primary-transition;
    &:hover {
        opacity: 0.8;
    }
}

body {
    overflow-x: hidden;
    font-family: ROBOTO, sans-serif;
    header {
        background-color: $primary-background;
        min-height: 700px;
        .container {
            padding-top: 30px;
            .header-background-container {
                width: 1500px;
                height: 1000px;
                border-radius: 200px;
                position: absolute;
                right: -170px;
                top: -500px;
                overflow: hidden;
                transform: rotate(25deg);
                z-index: 0;
                .img-container {
                    width: 110%;
                    transform: rotate(-30deg);
                    position: relative;
                    top: 140px;
                    right: 200px;
                    img {
                        width: 100%;
                        position: relative;
                        top: 250px;
                        cursor: auto;
                    }
                }
            }
            nav {
                width: 70%;
                margin: auto;
                @include flexBox(space-between, center);
                .logo-container {
                    width: 120px;
                    img {
                        width: 100%;
                        transition: $primary-transition;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
                .menu-container {
                    @include flexBox(center, center);
                    column-gap: 70px;
                    li {
                        z-index: 1;
                        padding: 0 3px;
                        color: $primary-background;
                        transition: $primary-transition;
                        font-size: 20px;
                        &.active-li {
                            border-bottom: 2px solid $primary-purple;
                        }
                        &:hover {
                            color: gainsboro;
                        }
                    }
                }
            }
        }
        .main-text-container {
            width: 70%;
            margin: auto;
            margin-top: 250px;
            .main-text {
                font-size: 60px;
            }
            .secondary-text {
                font-size: 38px;
                padding-bottom: 50px;
            }
        }
    }
    main {}
}