@font-face {
  font-family: ROBOTO;
  src: url(../assets/Roboto-Thin.ttf) format("ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

img {
  display: block;
  cursor: pointer; }

li {
  list-style: none;
  cursor: pointer; }

button:not(.btn-next) {
  background-color: #c1187b;
  border: none;
  color: #fbfcfe;
  padding: 15px;
  min-width: 250px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease; }
  button:not(.btn-next):hover {
    opacity: 0.8; }

body {
  overflow-x: hidden;
  font-family: ROBOTO, sans-serif; }
  body header {
    background-color: #fbfcfe;
    min-height: 700px; }
    body header .container {
      padding-top: 30px; }
      body header .container .header-background-container {
        width: 1500px;
        height: 1000px;
        border-radius: 200px;
        position: absolute;
        right: -170px;
        top: -500px;
        overflow: hidden;
        transform: rotate(25deg);
        z-index: 0; }
        body header .container .header-background-container .img-container {
          width: 110%;
          transform: rotate(-30deg);
          position: relative;
          top: 140px;
          right: 200px; }
          body header .container .header-background-container .img-container img {
            width: 100%;
            position: relative;
            top: 250px;
            cursor: auto; }
      body header .container nav {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        body header .container nav .logo-container {
          width: 120px; }
          body header .container nav .logo-container img {
            width: 100%;
            transition: all 0.5s ease; }
            body header .container nav .logo-container img:hover {
              opacity: 0.7; }
        body header .container nav .menu-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          column-gap: 70px; }
          body header .container nav .menu-container li {
            z-index: 1;
            padding: 0 3px;
            color: #fbfcfe;
            transition: all 0.5s ease;
            font-size: 20px; }
            body header .container nav .menu-container li.active-li {
              border-bottom: 2px solid #c1187b; }
            body header .container nav .menu-container li:hover {
              color: gainsboro; }
    body header .main-text-container {
      width: 70%;
      margin: auto;
      margin-top: 250px; }
      body header .main-text-container .main-text {
        font-size: 60px; }
      body header .main-text-container .secondary-text {
        font-size: 38px;
        padding-bottom: 50px; }
  body main {
    background-color: #fbfcfe; }
    body main .why-container {
      padding-top: 50px;
      width: 70%;
      margin: auto;
      position: relative;
      margin-bottom: 200px; }
      body main .why-container .two-sided-container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
        width: 100%; }
        body main .why-container .two-sided-container .img-container {
          flex-basis: 40%; }
          body main .why-container .two-sided-container .img-container img {
            width: 100%;
            border-radius: 2px; }
        body main .why-container .two-sided-container .why-content-container {
          flex-basis: 60%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: row; }
          body main .why-container .two-sided-container .why-content-container .content {
            padding: 150px 0 0 150px; }
            body main .why-container .two-sided-container .why-content-container .content .main-text {
              font-size: 35px;
              padding-bottom: 20px; }
            body main .why-container .two-sided-container .why-content-container .content .secondary-text {
              font-size: 18px;
              text-align: justify; }
      body main .why-container .swiper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: #ffffff;
        box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.1);
        padding: 30px;
        padding-top: 50px;
        border-radius: 2px;
        position: absolute;
        bottom: -50px;
        left: 250px; }
        body main .why-container .swiper .swiper-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          column-gap: 50px;
          position: relative; }
          body main .why-container .swiper .swiper-container .card {
            text-align: center; }
            body main .why-container .swiper .swiper-container .card img {
              width: 100%;
              border-radius: 2px; }
            body main .why-container .swiper .swiper-container .card p {
              padding-top: 20px; }
              body main .why-container .swiper .swiper-container .card p.active {
                color: #c1187b; }
          body main .why-container .swiper .swiper-container .btn-next {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            right: -50px;
            border: none;
            background-color: #c1187b;
            color: #fbfcfe;
            cursor: pointer;
            transition: all 0.5s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row; }
            body main .why-container .swiper .swiper-container .btn-next:hover {
              opacity: 0.8; }
            body main .why-container .swiper .swiper-container .btn-next .arrow-right {
              width: 15px;
              height: 15px;
              transform: rotate(45deg);
              border: 1px solid #fbfcfe;
              border-bottom: none;
              border-left: none;
              position: relative;
              right: 5px; }
